{% extends "base.html" %}

{% block content %}

<!-- Needed for jinja interaction-->
<script>
  var currenpath = "{{simple_path }}"
</script>

<script type="text/javascript" src={{ url_for('static', filename = 'js/explore.js') }}></script>
<!-- This whole page is structured as a single form. Horrible but I cannot use the flask.form.request() method on a specific form name-->

<div class="panel panel-default w-100 padding-right: 10px; padding-left: 10px;">
  <div class="panel-heading">
    <div>
      <h3>
        <!-- This is an hackish way to use Jinja2 but the variable only live in each iteration scope-->
        Current path:
        {% set partial = [] %}
        <a href="{{ url_for('explore') }}">data_root</a>/
        {% for segment in visual_path %}
        {% do partial.append(segment) %}
        <a href="{{ url_for('explore') }}/{{ partial|join("/") }}/">{{segment}}</a>/
        {% endfor %}
      </h3>
    </div>
  </div>
  <div class="panel-body">
    <div style="width: 100%; display: table;">
      <div style="display: table-row">
        <input type="submit" name="plot_button" value="Plot" style = "margin-left: 10px; margin-bottom: 10px;">
        <input type="submit" name="analyze_button" value="Analyze" style = "margin-left: 10px; margin-bottom: 10px;" onclick="configure_analyze_modal()">
        <input type="submit" name="export_button" value="Export" style = "margin-left: 10px; margin-bottom: 10px;">
        <input type="submit" name="export_source" value="Use as source" style = "margin-left: 10px; margin-bottom: 10px;">
        <input type="submit" name="clear_selected" value="Clear selected" onclick="clear_selected()" style = "margin-left: 10px; margin-bottom: 10px;">
      </div>
      <div style="display: table-row" >
        <div style="width: 30%; display: table-cell; padding:10px; background-color:#f8f9fa;">
          <!-- Folders table -->
          <table id="folders" class="table" style="width:95%; vertical-align: top;">
            <caption style = "margin: 0px; padding: 0px; text-align: center; font-size: 120%;">
              Click on a folder to dispay file content
              <caption>

                <thead>
                  <tr>
                    <th>Name</th>
                    <th>File content</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {% for folder in allfolders: %}
                  <tr>
                    <td><a href="{{ current_path }}{{ folder[0] }}/">{{ folder[0] }}</a></td>
                    <td>{{ folder[1] }}</td>
                    <td><button name ="folders" value= "{{ (folder[0]) }}" onclick = "add_folder_op(this)" style="margin:0px">All</button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="width: 70%; display: table-cell; padding:10px;">
              <!-- Files table -->
              <table id="files" class="table" style="width:95%; vertical-align: top;">
                <caption style = "margin: 0px; padding: 0px; text-align: center; font-size: 120%;">
                  File present in the current path
                  <caption>
                    <thead>
                      <tr>
                        <th>DB</th>
                        <th>Plot</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Kind</th>
                        <th>Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range(allfiles|length): %}
                      <tr>
                        <td>
                          {% if measure_link['err'][i] %}
                          <span class="glyphicon glyphicon-remove"></span>
                          {% else %}
                          <span class="glyphicon glyphicon-ok"></span>
                          {% endif %}
                        </td>
                        <td>
                          {% if measure_link['plots'][i]['path']|length > 0 %}
                          <button type="submit" class="btn btn-link glyphicon glyphicon-picture" style="margin:0px; padding:0px" id="show_plot_{{ allfiles[i][0] }}" data-toggle="modal" data-target="#modal_plot_select_{{i}}"></button>
                          {% else %}
                          <span class="glyphicon glyphicon-remove"></span>
                          {% endif %}
                        </td>
                        <td>{{ allfiles[i][0] }}</td>
                        <td>{{ allfiles[i][2] }}</td>
                        <td>{{ allfiles[i][3] }}</td>
                        <td>
                          <input type="checkbox" name = "files_selected" value="{{ allfiles[i][0] }}" onclick="selected_file_op(this)" {% if allfiles[i][0] in selected_files %}checked{%endif%}>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div>
          <div class="panel panel-default", id = 'selected_panel-files'>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="toggle" data-toggle="collapse" href="#collapse-selected_panel-files"> Selected Files </a>
                <span style="float:right" id ="file_sel_num"><span>
              </h4>
            </div>

            <div id="collapse-selected_panel-files" class="panel-collapse collapse">
              <div class="panel-body", id = "files-selected_panel-analysis-body">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th>File selected</th>
                    </tr>
                  </thead>

                  <tbody id="selected_files_list"></tbody>
                </table>

              </div>
            </div>
          </div>
        </div>




<!-- PLOT DISPLAY PART -->

<!-- This is quite intricated: the jinja2 templating engine is generating a modal form and its load script on a per file basis -->
{% for i in range(allfiles|length): %}
<!-- Modal -->
<div class="modal fade" id="modal_plot_select_{{i}}" role="dialog">
  <div class="modal-dialog" style = "width: auto; max-width: 960px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-picture"></span> Available plots</h4>
        List of the available plots for: <b>{{allfiles[i][0]}}</b><br>
        <i> Kind field tells if the plot involves also other measures.</i>
      </div>
      <div class="modal-body" style="padding:40px 50px; ">
        <table id="plot_select_table_{{i}}" class="table" style="width:95%">
          <thead>
            <tr>
              <th>Plot</th>
              <th>Kind</th>
              <th>Generated</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for j in range(measure_link['plots'][i]['path']|length) %}
            <tr>
              <td><a href="{{ url_for('explore') }}/{{ measure_link['plots'][i]['path'][j] }}"  target=”_blank”>{{ measure_link['plots'][i]['path'][j].split('/')[-1] }}</a></td>
              <td>{{ measure_link['plots'][i]['kind'][j] }}</td>
              <td>{{ measure_link['plots'][i]['timestamp'][j].split('.')[0] }}</td>
              <td>{{ measure_link['plots'][i]['comment'][j] }}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  ( function($) {
    $(document).ready(function() {
      $('#plot_select_table_{{i}}').DataTable({select: true});
    } );
  } ) ( jQuery );
</script>
{% endfor %}
<script>
  ( function($) {
    $(document).ready(function() {
      $('#files').DataTable({select: true});
    } );
  } ) ( jQuery );

  ( function($) {
    $(document).ready(function() {
      $('#folders').DataTable({select: true});
    } );
  } ) ( jQuery );
</script>

<!-- ANALYSIS PART -->

<!-- Modal -->
<div class="modal fade" id="analysis-modal" role="dialog">
  <div class="modal-dialog" style = "width: auto; max-width: 960px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-stats"></span> Available analysis</h4>
        Chose which analysis to perform on selected files and related options. Click analysis name item to expand the options, check the panel to run it.
      </div>
      <div class="modal-body" style="padding:40px 50px;" id = "analysis-modal-configure">

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = delay-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-delay" style = "margin-left:10px"><b>Delay</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Use a delay file to generate a delay constant and write it on file"></a>
              <span id = "delay-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-delay" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "delay-analysis-body" style = "margin:10px">
              Delay analysis does not have any oprion at the moment.
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'delay-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-delay-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-delay-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-delay-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'delay-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = vna_simple-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-vna_simple" style = "margin-left:10px"><b>VNA analysis</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Analyze the raw data from a VNA file generating the complex S21 information inside the file"></a>
              <span id = "vna_simple-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-vna_simple" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "vna_simple-analysis-body" style = "margin:10px">
              VNA analysis has no options at the moment.
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'vna_simple-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-vna_simple-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-vna_simple-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-vna_simple-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'vna_simple-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = vna_dynamic-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-vna_dynamic" style = "margin-left:10px"><b>Dynamic VNA analysis</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Interpret each iterations of a VNA measure as a time frame, analyze each frame and saves the data on the file."></a>
              <span id = "vna_dynamic-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-vna_dynamic" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "vna_dynamic-analysis-body" style = "margin:10px">
              Dynamic VNA analysis has no options at the moment.
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'vna_dynamic-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-vna_dynamic-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-vna_dynamic-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-vna_dynamic-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'vna_dynamic-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = fitting-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-fitting" style = "margin-left:10px"><b>Fitting</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Look for resonators and fit the S21 model. If the VNA file has not been analyzed, it will be processed with default options unless specified in this form. Store the results in the file."></a>
              <span id = "fitting-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-fitting" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "fitting-analysis-body" style = "margin:10px">
              Fitting options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'fitting-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-fitting-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-fitting-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-fitting-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'fitting-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = psd-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-psd" style = "margin-left:10px"><b>Power spectrum</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the power spectrum of a noise file. Store the result in the file."></a>
              <span id = "psd-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-psd" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "psd-analysis-body" style = "margin:10px">
              psd options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'psd-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-psd-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-psd-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-psd-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'psd-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = qf-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-qf" style = "margin-left:10px"><b>Frequency/Q timestreams</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the frequency and quality factor timestream using embedded S21 fitting data and the noise I/Q timestream"></a>
              <span id = "qf-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-qf" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "qf-analysis-body" style = "margin:10px">
              F/Q options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'qf-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-qf-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-qf-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-qf-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'qf-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = qf_psd-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-qf_psd" style = "margin-left:10px"><b>Frequency/Q power spectrum</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the frequency and quality factor power spectrum using embedded S21 fitting data and the noise I/Q timestream. Store the results on file."></a>
              <span id = "qf_psd-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-qf_psd" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "qf_psd-analysis-body" style = "margin:10px">
              F/Q spec options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'qf_psd-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-qf_psd-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-qf_psd-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-qf_psd-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'qf_psd-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = calibrated_psd-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-calibrated_psd" style = "margin-left:10px"><b>Calibrated power spectrum</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the power spectrum using the Q/F noise data and the embedded calibration constant. Store the results on file."></a>
              <span id = "calibrated_psd-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-calibrated_psd" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "calibrated_psd-analysis-body" style = "margin:10px">
              Calibrated spec options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'calibrated_psd-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-calibrated_psd-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-calibrated_psd-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-calibrated_psd-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'calibrated_psd-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = pair_subtraction-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-pair_subtraction" style = "margin-left:10px"><b>Pair differencing</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the differential power spectrum using the calibrated noise data and the embedded pair information. Store the results on file."></a>
              <span id = "pair_subtraction-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-pair_subtraction" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "pair_subtraction-analysis-body" style = "margin:10px">
              Pair options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'pair_subtraction-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-pair_subtraction-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-pair_subtraction-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-pair_subtraction-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'pair_subtraction-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = calibration-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-calibration" style = "margin-left:10px"><b>Calibration</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Use a noise file to generate a calibration constant and write it on file"></a>
              <span id = "calibration-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-calibration" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "calibration-analysis-body" style = "margin:10px">
              Calibration options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'calibration-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-calibration-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-calibration-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-calibration-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'calibration-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <div class="panel panel-default", id = 'exclusion-files'>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="toggle" data-toggle="collapse" href="#collapse-exclusion-files"> <b>Excluded files</b> </a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Files that cannot be analyzed"></a>
              <span id = "exclusion-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-exclusion-files" class="panel-collapse collapse">
            <div class="panel-body", id = "files-exclusion-analysis-body">
              <table class="table" style="width:95%">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Folder</th>
                        <th>Reason</th>
                      </tr>
                    </thead>
                    <tbody id = 'exclusion-analysis-files'></tbody>
                  </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-default" onclick=""><span class="glyphicon glyphicon-fire"></span> Run</button>
        <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
