{% extends "base.html" %}

{% block content %}



{% if err['enable']: %}

<script>
alert("{{err['message']}}");
</script>
{% endif %}

<script type="text/javascript" src={{ url_for('static', filename = 'js/explore.js') }}></script>

<!-- This whole page is structured as a single form. Horrible but I cannot use the flask.form.request() method on a specific form name-->

<!-- Head buttons -->
<div class="row" style="margin: 0px; padding-top: 0px; padding-right: 10px; padding-left: 10px;">
  <div>
    <h3>
      <!-- This is an hackish way to use Jinja2 but the variable only live in each iteration scope-->
      Current path:
      {% set partial = [] %}
      <a href="{{ url_for('explore') }}">data_root</a>/
      {% for segment in visual_path %}
        {% do partial.append(segment) %}
        <a href="{{ url_for('explore') }}/{{ partial|join("/") }}/">{{segment}}</a>/
      {% endfor %}
    </h3>
  </div>
    <div class="column" style="float:left; width:500px;padding-right: 10px; border-right: 1px solid grey">
            <input type="submit" name="select_button" value="Show files >>" onclick="submitFolders()" style="float:right;">
    </div>
    <div class="column" style="float:left; width:50%;padding-right: 10px; padding-left: 10px">
            <input type="submit" name="plot_button" value="Plot">
            <input type="submit" name="analyze_button" value="Analyze">
            <input type="submit" name="export_button" value="Export">
            <input type="submit" name="export_source" value="Use as source">
    </div>
</div>

<!-- Give some margin to avoid the top bar -->
<div class="row" style="margin: 0px; padding-top: 5px; padding-right: 10px; padding-left: 10px">

    <!-- Folders table -->
    <div class="column" style="float:left; width:500px ;padding-right: 10px; border-right: 1px solid grey">
        <table id="folders" class="table" style="width:95%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>File content</th>
                    <th>Select</th>
                </tr>
            </thead>

            <tbody>
                {% for folder in allfolders: %}
                <tr>
                    <td><a href="{{ current_path }}{{ folder[0] }}/">{{ folder[0] }}</a></td>
                    <td>{{ folder[1] }}</td>
                    {% if folder[2]: %}
                        <td><input type="checkbox" name ="folders" value= {{ (folder[0]) }} checked="checked"></td>
                    {% else: %}
                        <td><input type="checkbox" name ="folders" value= {{ (folder[0]) }} ></td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
    <!-- Files table -->
    <div class="column" style="float:left; width:50%; padding-left: 10px">
        <table id="files" class="table" style="width:95%">
            <thead>
                <tr>
                    <th>DB</th>
                    <th>Plot</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Kind</th>
                    <th>Select</th>
                </tr>
            </thead>

            <tbody>
                {% for i in range(allfiles|length): %}
                <tr>
                    <td>
                      {% if measure_link['err'][i] %}
                        <span class="glyphicon glyphicon-remove"></span>
                      {% else %}
                        <span class="glyphicon glyphicon-ok"></span>
                      {% endif %}
                    </td>
                    <td>
                      {% if measure_link['plots'][i]['path']|length > 0 %}
                      <button type="submit" class="btn btn-link glyphicon glyphicon-picture" style="margin:0px; padding:0px" id="show_plot_{{ allfiles[i][0] }}" data-toggle="modal" data-target="#modal_plot_select_{{i}}"></button>
                      {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                      {% endif %}
                    </td>
                    <td>{{ allfiles[i][0] }}</td>
                    <td>{{ allfiles[i][2] }}</td>
                    <td>{{ allfiles[i][3] }}</td>
                    <td>
                            <input type="checkbox" name = "files_selected" value={{ allfiles[i][0] }}>
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<hr>

<style>
  .modal-dialog {
    width: auto;
    max-width: 960px;
  }
</style>

<!-- This is quite intricated: jinja2 templating engine is generating a modal form and its load script on a per file basis -->
{% for i in range(allfiles|length): %}
<!-- Modal -->
<div class="modal fade" id="modal_plot_select_{{i}}" role="dialog">
  <div class="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-picture"></span> Available plots</h4>
        List of the available plots for: <b>{{allfiles[i][0]}}</b><br>
        <i> Kind field tells if the plot involves also other measures.</i>
      </div>
      <div class="modal-body" style="padding:40px 50px; ">
        <table id="plot_select_table_{{i}}" class="table" style="width:95%">
          <thead>
            <tr>
              <th>Plot</th>
              <th>Kind</th>
              <th>Generated</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for j in range(measure_link['plots'][i]['path']|length) %}
            <tr>
              <td><a href="{{ url_for('explore') }}/{{ measure_link['plots'][i]['path'][j] }}"  target=”_blank”>{{ measure_link['plots'][i]['path'][j].split('/')[-1] }}</a></td>
              <td>{{ measure_link['plots'][i]['kind'][j] }}</td>
              <td>{{ measure_link['plots'][i]['timestamp'][j].split('.')[0] }}</td>
              <td>{{ measure_link['plots'][i]['comment'][j] }}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
( function($) {
  $(document).ready(function() {
    $('#plot_select_table_{{i}}').DataTable({select: true});
  } );
} ) ( jQuery );
</script>
{% endfor %}
{% endblock %}
