{% extends "base.html" %}

{% block content %}

<!-- Needed for jinja interaction-->
<script>
  var currenpath = "{{simple_path }}"
</script>

<script type="text/javascript" src={{ url_for('static', filename = 'js/explore.js') }}></script>
<!-- This whole page is structured as a single form. Horrible but I cannot use the flask.form.request() method on a specific form name-->

<!-- Some style for the buttons -->
<style>
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #285e8e;
    border-color: #285e8e; /*set the color you want here*/
}
</style>

<div class="panel panel-default w-100 padding-right: 10px; padding-left: 10px;">
  <div class="panel-heading">
    <div>
      <h3>
        <!-- This is an hackish way to use Jinja2 but the variable only live in each iteration scope-->
        Current path:
        {% set partial = [] %}
        <a href="{{ url_for('explore') }}">data_root</a>/
        {% for segment in visual_path %}
        {% do partial.append(segment) %}
        <a href="{{ url_for('explore') }}/{{ partial|join("/") }}/">{{segment}}</a>/
        {% endfor %}
      </h3>
    </div>
  </div>
  <div class="panel-body">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style = "margin-bottom:10px !important;">
      <div class="btn-group mr-3 " role="group" aria-label="First group">
        <center style = "margin-bottom:10px;">
          <h4 href="#" data-toggle="tooltip"title="Action to perform on selected files." >Actions </h4>
        </center>
        <input type="submit" class="btn btn-secondary" name="plot_button" value="Plot" >
        <input type="submit" class="btn btn-secondary" name="analyze_button" value="Analyze"  onclick="configure_analyze_modal()">
        <input type="submit" class="btn btn-secondary" name="export_button" value="Export" >
      </div>
      <div class="btn-group mr-2 " role="group" aria-label="Second group">
        <center style = "margin-bottom:10px;">
          <h4 href="#" data-toggle="tooltip"title="All actions will be performed on these files" > File selector</h4>
        </center>
        <input type="submit" class="btn btn-secondary" name="clear_selected" value="Clear selected" onclick="clear_selected()" >
        <input type="submit" class="btn btn-secondary" name="selected_files (0)" value ="Selected files (0)" id="selected-files-btn"  onclick="open_selected_modal();">
      </div>
      <div class="btn-group mr-2 " role="group" aria-label="Third group">
        <center style = "margin-bottom:10px;">
          <h4 href="#" data-toggle="tooltip"title="Various analysis/plots can reference an other file, add the file to this list to use it as reference" >Source file selector </h4>
        </center>
        <input type="submit" class="btn btn-secondary" name="export_source" value="Manage sources" data-toggle="modal" data-target="#source-manage-modal" >
        <input type="submit" class="btn btn-outline-secondary" name="manage_source" value="Drag and drop source link" ondrop="drop_link(event)" ondragover="allowDrop(event)"
        data-toggle="tooltip"title="Drag a link or a folder over here to add the source file(s)" >
      </div>
    </div>
    <div style="width: 100%; display: table;">
      <div style="display: table-row" >
        <div style="width: 30%; display: table-cell; padding:10px; background-color:#f8f9fa;">
          <!-- Folders table -->
          <table id="folders" class="table" style="width:95%; vertical-align: top;">
            <caption style = "margin: 0px; padding: 0px; text-align: center; font-size: 120%;">
              Click on a folder to dispay file content
              <caption>

                <thead>
                  <tr>
                    <th>Name</th>
                    <th>File content</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  {% for folder in allfolders: %}
                  <tr>
                    <td><a id ="folder-{{ folder[0] }}"  href="{{ current_path }}{{ folder[0] }}/" ondragstart="dragEventHandler(event)">{{ folder[0] }}</a></td>
                    <!-- {{ current_path }}{{ folder[0] }}/ -->
                    <td>{{ folder[1] }}</td>
                    <td><button name ="folders" value= "{{ (folder[0]) }}" onclick = "add_folder_op(this)" style="margin:0px">All</button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="width: 70%; display: table-cell; padding:10px;">
              <!-- Files table -->
              <table id="files" class="table" style="width:95%; vertical-align: top;">
                <caption style = "margin: 0px; padding: 0px; text-align: center; font-size: 120%;">
                  File present in the current path
                  <caption>
                    <thead>
                      <tr>
                        <th>DB</th>
                        <th>Plots</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Kind</th>
                        <th>Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range(allfiles|length): %}
                      <tr>
                        <td>
                          {% if measure_link['err'][i] %}
                          <span class="glyphicon glyphicon-remove"></span>
                          {% else %}
                          <span class="glyphicon glyphicon-ok"></span>
                          {% endif %}
                        </td>
                        <td>
                          {% if measure_link['plots'][i]['path']|length > 0 %}
                          <button type="submit" class="btn btn-link glyphicon glyphicon-picture" style="margin:0px; padding:0px" id="show_plot_{{ allfiles[i][0] }}" data-toggle="modal" data-target="#modal_plot_select_{{i}}"></button>
                          {% else %}
                          <span class="glyphicon glyphicon-remove"></span>
                          {% endif %}
                        </td>
                        <td><a id = "file-{{ allfiles[i][0][:-3] }}" href="{{ url_for('single_file') }}/{{ allfiles[i][0] }}" ondragstart="dragEventHandler(event)">{{ allfiles[i][0] }}</a></td>
                        <!-- "{{ url_for('single_file') }}/{{ allfiles[i][0] }}" -->
                        <td>{{ allfiles[i][2] }}</td>
                        <td>{{ allfiles[i][3] }}</td>
                        <td>
                          <input type="checkbox" name = "files_selected" value="{{ allfiles[i][0] }}" onclick="selected_file_op(this)" {% if allfiles[i][0] in selected_files %}checked{%endif%}>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- SOURCE FILE PART -->
<div class="modal fade" id="source-files-modal" role="dialog">
  <div class="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-plus"></span> Add source file</h4>
        Add files to be used as source file for VNAs, Noise acquisitions and fit initializations. By checking the permanent button you make your selection persistent across eventual reboot of the client application.
      </div>
        <div class="modal-body" style="padding:40px 50px;">
          <div id = "source-files-list"></div>
          <br>
          <span>
            <label data-toggle="tooltip" title="Name of the source group"> Group </label>
            <input style = "width: 100%; clear: both; margin-right:10px;"
            placeholder="Existing or new group..." type="text" name="group_source" id = 'source-file-group' list="group_list_set" value ='' >
            <datalist id="group_list_set">
              {%for group in source_group_set%}
                <option value="{{group}}">
              {%endfor%}
            </datalist>
          </span>
          <div style = "margin-top:20px;">
          Permanent:

          <input type="checkbox" id = 'permanent_source_checkbox' style = "margin-left:20px"></input>
          </div>

        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-default" onclick="add_source_file()"><span class="glyphicon glyphicon-plus"></span> Add</button>
        <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="source-manage-modal" role="dialog">
  <div class="modal-dialog" style = "width: auto; max-width: 1060px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-tags" style='margin-right:10px'></span> Manage source files</h4>
        Source file management. The table below represent your source file group. In this window you can visualize, remove or check the files.
        The source files are used to initialize fits or measurement.
        To add files to this category, drag and drop the links from the explorer on the button next to the one just pressed. Measure displaying the remove! button are marked as permanent.
      </div>
        <div class="modal-body" style="padding:40px 50px;">
          <table class="table" id = "source-file-table">
            <thead>
              <tr>
                <th>Group</th>
                <th>Path</th>
                <th>Kind</th>
                <th>Remove</th>

              </tr>
            </thead>

            <tbody id="source-file-body">
              {%for i in range(source_files|length) %}
              <tr>
                <td word-break:break-all> {{source_files[i]['source_group']}} </td>
                <td word-break:break-all> {{source_files[i]['source_path']}} </td>
                <td > {{source_files[i]['source_kind']}} </td>
                <td >
                  {% if source_files[i]['source_perm'] %}
                   <input type="submit" class="btn btn-secondary" value = "Remove!"> </input>
                  {%else%}
                  <input type="submit" class="btn btn-secondary" value = "Remove"> </input>
                  {%endif%}
                </td>
              </tr>
              {%endfor%}

            </tbody>
          </table>
        </div>

    </div>
  </div>
</div>

<script>
  // Love this
  ( function($) {
    $(document).ready(function() {
      var collapsedGroups = {};
      var source_table_json = JSON.parse('{{source_files | tojson}}');
      var table = $('#source-file-table').DataTable({
          order: [[0, 'asc']],
          rowGroup: {
            // Uses the 'row group' plugin
            dataSrc: 0,
            startRender: function (rows, group) {
              var collapsed = !!collapsedGroups[group];

              rows.nodes().each(function (r) {
                r.style.display = collapsed ? '' : 'none'; // Inverted to start with ollapsed rows
              });
              return $('<tr/>')
              .append('<td colspan="4">' + group + ' (' + rows.count() + ') <input type="submit" class="btn btn-secondary" id = "remove_group_source" value = "Remove group" style=\'float:right\'> </input></td>')
              .attr('data-name', group)
              .toggleClass('collapsed', collapsed);
            }
          }
      });

      $('#source-file-table tbody').on('click', 'tr.group-start', function () {
        var name = $(this).data('name');
        collapsedGroups[name] = !collapsedGroups[name];
        table.draw(false);
      });

      } );
    } ) ( jQuery );

</script>

<!-- SELECTED FILE PART -->
<div class="modal fade" id="selected-files-modal" role="dialog">
  <div class="modal-dialog" style = "width: auto; max-width: 960px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-plus"></span> Selected files</h4>
        List of the files selected for operations
      </div>
        <div class="modal-body" style="padding:40px 50px; ">

          <table class="table" id = "selected_files-table">
            <thead>
              <tr>
                <th data-field="id">#</th>
                <th data-field="name" data-sortable="true">File selected</th>
              </tr>
            </thead>

            <tbody id="selected_files_list"></tbody>
          </table>

      </div>
    </div>
  </div>
</div>

<!-- PLOT DISPLAY PART -->

<!-- This is quite intricated: the jinja2 templating engine is generating a modal form and its load script on a per file basis -->
{% for i in range(allfiles|length): %}
<!-- Modal -->
<div class="modal fade" id="modal_plot_select_{{i}}" role="dialog">
  <div class="modal-dialog" style = "width: auto; max-width: 960px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-picture"></span> Available plots</h4>
        List of the available plots for: <b>{{allfiles[i][0]}}</b><br>
        <i> Kind field tells if the plot involves also other measures.</i>
      </div>
      <div class="modal-body" style="padding:40px 50px; ">
        <table id="plot_select_table_{{i}}" class="table" style="width:95%">
          <thead>
            <tr>
              <th>Plot</th>
              <th>Kind</th>
              <th>Generated</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for j in range(measure_link['plots'][i]['path']|length) %}
            <tr>
              <td><a href="{{ url_for('explore') }}/{{ measure_link['plots'][i]['path'][j] }}"  target=”_blank”>{{ measure_link['plots'][i]['path'][j].split('/')[-1] }}</a></td>
              <td>{{ measure_link['plots'][i]['kind'][j] }}</td>
              <td>{{ measure_link['plots'][i]['timestamp'][j].split('.')[0] }}</td>
              <td>{{ measure_link['plots'][i]['comment'][j] }}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  ( function($) {
    $(document).ready(function() {
      $('#plot_select_table_{{i}}').DataTable({select: true});
    } );
  } ) ( jQuery );
</script>
{% endfor %}
<script>

  function open_selected_modal(){
    $("#selected-files-modal").modal()
  }
  ( function($) {
    $(document).ready(function() {
      $('#files').DataTable({select: true});
    } );
  } ) ( jQuery );

  ( function($) {
    $(document).ready(function() {
      $('#folders').DataTable({select: true});
    } );
  } ) ( jQuery );

  // ( function($) {
  //   $(document).ready(function() {
  //     $('#selected_files-table').DataTable({select: true});
  //   } );
  // } ) ( jQuery );

  //var filedt = $('#selected_files-table').DataTable({select: true});
  // TODO: cannot initialize a Datatable object within the file modal.
  // There is some coding needed for the updating of this.
</script>

<!-- ANALYSIS PART -->

<!-- Modal -->
<div class="modal fade" id="analysis-modal" role="dialog">
  <div class="modal-dialog" style = "width: auto; max-width: 960px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-stats"></span> Available analysis</h4>
        Chose which analysis to perform on selected files and related options. Click analysis name item to expand the options, check the panel to run it.
      </div>
      <div class="modal-body" style="padding:40px 50px;" id = "analysis-modal-configure">

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = delay-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-delay" style = "margin-left:10px"><b>Delay</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Use a delay file to generate a delay constant and write it on file"></a>
              <span id = "delay-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-delay" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "delay-analysis-body" style = "margin:10px">
              Delay analysis does not have any oprion at the moment.
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'delay-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-delay-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-delay-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-delay-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'delay-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = vna_simple-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-vna_simple" style = "margin-left:10px"><b>VNA analysis</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Analyze the raw data from a VNA file generating the complex S21 information inside the file"></a>
              <span id = "vna_simple-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-vna_simple" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "vna_simple-analysis-body" style = "margin:10px">
              VNA analysis has no options at the moment.
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'vna_simple-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-vna_simple-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-vna_simple-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-vna_simple-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'vna_simple-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = vna_dynamic-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-vna_dynamic" style = "margin-left:10px"><b>Dynamic VNA analysis</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Interpret each iterations of a VNA measure as a time frame, analyze each frame and saves the data on the file."></a>
              <span id = "vna_dynamic-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-vna_dynamic" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "vna_dynamic-analysis-body" style = "margin:10px">
              Dynamic VNA analysis has no options at the moment.
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'vna_dynamic-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-vna_dynamic-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-vna_dynamic-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-vna_dynamic-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'vna_dynamic-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = fitting-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-fitting" style = "margin-left:10px"><b>Fitting</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Look for resonators and fit the S21 model. If the VNA file has not been analyzed, it will be processed with default options unless specified in this form. Store the results in the file."></a>
              <span id = "fitting-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-fitting" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "fitting-analysis-body" style = "margin:10px">

              <!-- Fitting options -->

              <div>
                <h4>Initialization options</h4>
                <hr>
              </div>
              <div style="width: 100%; display: table;">
                <div style="display: table-row" >

                  <div style="width: 50%; display: table-cell; padding:10px;">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <input type="checkbox" id = "fit-thr-chk", onclick = "diasble_init_fit_panel(this)">
                          Threshold
                          <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
                          title="Set a theshold relative to the maximum absolute value of the S21 derivative (excluding LO glitch) and use the peakutils python package to determine the position of other peaks"></a>
                        </h4>
                      </div>

                      <div class="panel-body" id = "fit-thr-opt">
                        <label data-toggle="tooltip" title="Threshold for peakfinder algorithm."> Threshold </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="threshold" value="0.5", id = 'fit-opt-thr'><br>
                        <label data-toggle="tooltip" title="Decimation factor to apply before initializing the peaks. Won't be inherited by actual fitting."> Smoothing </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="smoothing" value="0", id = 'fit-opt-smooth-thr'><br>
                        <label data-toggle="tooltip" title="Minimum peak distance and fit init range in Hz"> Peak width </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="smoothing" value="20000", id = 'fit-opt-width'><br>

                      </div>
                    </div>
                  </div>

                  <div style="width: 50%; display: table-cell; padding:10px;">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <input type="checkbox" id = "fit-alt-chk" onclick = "diasble_init_fit_panel(this)">
                          Alt method
                          <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
                          title="Use an alternative method for initializing the peaks based on the number of peaks"></a>
                        </h4>
                      </div>

                      <div class="panel-body", id = "fit-alt-opt">
                        <label data-toggle="tooltip" title="Expected number of resonator. The function may find less resonators."> Number of peaks </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="threshold" value="1", id = 'fit-opt-npeaks'><br>
                        <label data-toggle="tooltip" title="Decimation factor to apply before initializing the peaks. Won't be inherited by actual fitting."> Smoothing </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="smoothing" value="0", id = 'fit-opt-smooth-alt'><br>
                        <label data-toggle="tooltip" title="Exclude peaks which have an asymmetry parameter bigger than"> Asymmetry cutoff (eclude >) </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="smoothing" value="10", id = 'fit-opt-A'><br>
                        <label data-toggle="tooltip" title="Exclude peaks which have a Qr parameter smaller than"> Qr cutoff (exclude <) </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="smoothing" value="4e3", id = 'fit-opt-qr'><br>
                        <label data-toggle="tooltip" title="Exclude peaks which have a depth in dB smaller than"> Db depth cutoff (exclude <) </label>
                        <input style = "width: 100%; clear: both; margin-bottom:10px;" type="text" name="smoothing" value="1", id = 'fit-opt-depth'><br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- END Fitting options -->

              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'fitting-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-fitting-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-fitting-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-fitting-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'fitting-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = psd-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-psd" style = "margin-left:10px"><b>Power spectrum</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the power spectrum of a noise file. Store the result in the file."></a>
              <span id = "psd-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-psd" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "psd-analysis-body" style = "margin:10px">
              psd options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'psd-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-psd-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-psd-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-psd-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'psd-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = qf-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-qf" style = "margin-left:10px"><b>Frequency/Q timestreams</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the frequency and quality factor timestream using embedded S21 fitting data and the noise I/Q timestream"></a>
              <span id = "qf-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-qf" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "qf-analysis-body" style = "margin:10px">
              F/Q options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'qf-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-qf-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-qf-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-qf-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'qf-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = qf_psd-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-qf_psd" style = "margin-left:10px"><b>Frequency/Q power spectrum</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the frequency and quality factor power spectrum using embedded S21 fitting data and the noise I/Q timestream. Store the results on file."></a>
              <span id = "qf_psd-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-qf_psd" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "qf_psd-analysis-body" style = "margin:10px">
              F/Q spec options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'qf_psd-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-qf_psd-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-qf_psd-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-qf_psd-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'qf_psd-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = calibrated_psd-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-calibrated_psd" style = "margin-left:10px"><b>Calibrated power spectrum</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the power spectrum using the Q/F noise data and the embedded calibration constant. Store the results on file."></a>
              <span id = "calibrated_psd-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-calibrated_psd" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "calibrated_psd-analysis-body" style = "margin:10px">
              Calibrated spec options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'calibrated_psd-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-calibrated_psd-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-calibrated_psd-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-calibrated_psd-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'calibrated_psd-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = pair_subtraction-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-pair_subtraction" style = "margin-left:10px"><b>Pair differencing</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Calculate the differential power spectrum using the calibrated noise data and the embedded pair information. Store the results on file."></a>
              <span id = "pair_subtraction-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-pair_subtraction" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "pair_subtraction-analysis-body" style = "margin:10px">
              Pair options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'pair_subtraction-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-pair_subtraction-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-pair_subtraction-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-pair_subtraction-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'pair_subtraction-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <!-- Analysis panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <input type="checkbox" id = calibration-analysis-chk>
              <a class="toggle" data-toggle="collapse" href="#collapse-calibration" style = "margin-left:10px"><b>Calibration</b></a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Use a noise file to generate a calibration constant and write it on file"></a>
              <span id = "calibration-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-calibration" class="panel-collapse collapse">
            <div class="panel-body">
              <div id = "calibration-analysis-body" style = "margin:10px">
              Calibration options
              </div>

              <!-- Files display -->
              <div class="panel panel-default", id = 'calibration-files'>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="toggle" data-toggle="collapse" href="#collapse-calibration-files"> Files </a>
                  </h4>
                </div>

                <div id="collapse-calibration-files" class="panel-collapse collapse">
                  <div class="panel-body", id = "files-calibration-analysis-body">
                    <table class="table" style="width:95%">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Folder</th>
                              <th>Overwrite data</th>
                            </tr>
                          </thead>
                          <tbody id = 'calibration-analysis-files'></tbody>
                        </table>
                  </div>
                </div>
              </div>
              <!-- end of Files display -->
            </div>
          </div>
        </div>
        <!--end of Analysis panel -->

        <div class="panel panel-default", id = 'exclusion-files'>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="toggle" data-toggle="collapse" href="#collapse-exclusion-files"> <b>Excluded files</b> </a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Files that cannot be analyzed"></a>
              <span id = "exclusion-analysis-header" style = "float:right"></span>
            </h4>
          </div>

          <div id="collapse-exclusion-files" class="panel-collapse collapse">
            <div class="panel-body", id = "files-exclusion-analysis-body">
              <table class="table" style="width:95%">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Folder</th>
                        <th>Reason</th>
                      </tr>
                    </thead>
                    <tbody id = 'exclusion-analysis-files'></tbody>
                  </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-default" onclick=""><span class="glyphicon glyphicon-fire"></span> Run</button>
        <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
